@section styles
{
}
@section scripts
{
    <script type="text/javascript">
        (function ($) {
            if (!$) {
                return;
            }
            $(function () {

            });
        })(jQuery);
    </script>
}

<div class="wrapper wrapper-content @SpartanConsts.DefaultAnimate edit-col-1">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-content m-b-sm border-bottom no-top-border">
                <div class="text-center p-lg">
                    <h2>如果没有找到您需要的问题</h2>
                    <span>您可以点击</span>
                    <button title="Create new cluster" class="btn btn-primary btn-sm">
                        <i class="fa fa-plus"></i> <span class="bold">在线提问</span>
                    </button>按钮
                </div>
            </div>
            <div class="faq-item p0">
                <div class="row">
                    <div class="col-md-12">
                        <a data-toggle="collapse" href="#faq1" class="faq-question">1、如何安装设备</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="faq1" class="panel-collapse faq-answer collapse in" aria-expanded="true">
                            <p>
                                1、天猫宝转入金额1元起步，资金最多不能超过5万。转入时支持使用账户余额、储蓄卡快捷方式（含卡通）；
                                <br>2、在天猫购物时，可在支付宝收银台勾选使用天猫宝。天猫宝单笔单日限额为5万。当使用天猫宝支付后退款，资金自动回到天猫宝。天猫宝支付记录，可以在电脑端我的天猫宝页面中的交易记录或者支付宝钱包中的账单内查看；
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item p0 pt5">
                <div class="row">
                    <div class="col-md-12">
                        <a data-toggle="collapse" href="#faq2" class="faq-question">2、为什么设备不定位</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="faq2" class="panel-collapse faq-answer collapse in" aria-expanded="true">
                            <p>
                                1、天猫宝转入金额1元起步，资金最多不能超过5万。转入时支持使用账户余额、储蓄卡快捷方式（含卡通）；
                                <br>2、在天猫购物时，可在支付宝收银台勾选使用天猫宝。天猫宝单笔单日限额为5万。当使用天猫宝支付后退款，资金自动回到天猫宝。天猫宝支付记录，可以在电脑端我的天猫宝页面中的交易记录或者支付宝钱包中的账单内查看；
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
