<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.7.1" targetFramework="net461" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.1" targetFramework="net461" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net461" />
  <package id="Castle.Core-log4net" version="3.3.0" targetFramework="net461" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net461" />
  <package id="Castle.Windsor-log4net" version="3.3.0" targetFramework="net461" />
  <package id="Hangfire" version="1.5.3" targetFramework="net461" />
  <package id="Hangfire.Core" version="1.5.3" targetFramework="net461" />
  <package id="Hangfire.SqlServer" version="1.5.3" targetFramework="net461" />
  <package id="log4net" version="1.2.10" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
</packages>