@using Abp.Configuration
<div class="map-container w h" id="map-container">


</div>
<script src="http://webapi.amap.com/maps?v=1.3&key=@SettingManager.GetSettingValueForApplication(SpartanSettingKeys.General_Map_AMapAk)" type="text/javascript"></script>
<script type="text/javascript">
    (function () {
        abp.global.map = {};
        $(function() {
            abp.global.map.container = $("#map-container");
            abp.global.map.container.height(abp.global.win.h);
            abp.global.map.current = new AMap.Map("map-container", {
                resizeEnable: true,
                rotateEnable: true,
                dragEnable: true,
                zoomEnable: true,
                zooms: [3, 18]
            });

            abp.global.map.getLocation = function (target, lat, lng, coordinates, callback) {
                var data =
                {
                    lat:lat,
                    lng:lng,
                    coordinates:coordinates
                };
                abp.ajax(
                {
                    url: "/Map/GetLocation",
                    data: JSON.stringify(data)
                }).done(function(result) {
                    if (callback) {
                        callback(target, result.regeocode.formatted_address, result);
                    }
                });
            }

            AMap.event.addListener(abp.global.map.current, "zoomchange", function (e) {
                abp.global.map.zoom = this.getZoom();
            });
            abp.global.map.current.plugin(["AMap.PolyEditor"]);
            abp.global.map.current.plugin(["AMap.Scale"], function () {
                var scale = new AMap.Scale();
                abp.global.map.current.addControl(scale);
            });

            abp.global.map.current.plugin(["AMap.OverView"], function () {
                var view = new AMap.OverView();
                abp.global.map.current.addControl(view);
            });

            abp.global.map.current.plugin(["AMap.ToolBar"], function () {
                var tool = new AMap.ToolBar();
                abp.global.map.current.addControl(tool);
            });

            abp.global.map.current.plugin(["AMap.CitySearch"], function () {
                abp.global.map.citySearch = new AMap.CitySearch();
                abp.global.map.citySearch.getLocalCity(function (status, result) {
                    if (status === 'complete' && result.info === 'OK') {
                        if (result && result.city && result.bounds) {
                            abp.global.map.current.setBounds(result.bounds);
                        }
                    }
                });
            });

        });
    })(jQuery);
</script>