@using Abp.Timing
@section styles
{
    @Styles.Render("~/styles/plugins/edit")
}
@section scripts
{
    @Scripts.Render("~/scripts/plugins/edit")
    <script type="text/javascript">
        (function ($) {
            if (!$) {
                return;
            }

            $(function () {
              
            });
        })(jQuery);
    </script>
}
<div class="wrapper wrapper-content @SpartanConsts.DefaultAnimate list">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form role="form" class="form-inline" id="form">
             
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
