/*common*/
.wrapper-content.pages { padding: 0px; }
.wrapper-content.pages .ibox-content { border: 0px; }
/*list*/
.wrapper-content.list { padding: 0px; }
.wrapper-content.list .ibox-content { border: 0px; }
.wrapper-content.list .ibox-content.list-toolbar { padding-bottom: 0px;padding-top: 20px; }
.wrapper-content.list .ibox-content.list-toolbar .form-group{ height: 39px !important; }
.wrapper-content.list .ibox-content.list-content { padding-top: 0px; }
.wrapper-content.list .ibox-content.list-content .btn-op{ cursor: pointer;padding: 0px;margin: 0px; margin-right: 10px;font-size: 10px;}
/*edit*/
.wrapper-content.edit{margin-bottom: 0px;}
.wrapper-content.edit .form-group{ margin-bottom: 0px;}
.wrapper-content.edit .form-group .help-block{ margin-bottom: 5px;}
.wrapper-content.edit-col-1 .form-group.has-error .select2-selection--single{ border-color: #ed5565 !important;}
.wrapper-content.edit-col-1 .form-group.has-success .select2-selection--single{ border-color: #1ab394 !important;}
.wrapper-content.edit-col-1{margin-bottom: 0px;}
.wrapper-content.edit-col-1 .form-group{ margin-bottom: 0px;}
.wrapper-content.edit-col-1 .form-group .help-block{ margin-bottom: 5px;}